<style>
  /* Estilos generales para el footer */
.footer-container {
    background-color: {{ landing.footer_background_color }};
    color: #333;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Ajuste del tamaño del logo y la alineación del texto */
.footer-container img {
    border-radius: 50%;
    margin-right: 10px;
}

.footer-container h5 {
    font-weight: bold;
    margin-bottom: 0;
}

/* Estilo para los enlaces de navegación */
.footer-container a {
    text-decoration: none;
    color: #6c757d; /* Gris para los enlaces */
    transition: color 0.3s;
}

.footer-container a:hover {
    color: #007bff; /* Color de hover para los enlaces */
}

/* Estilo para el texto promocional */
.footer-container small {
    font-size: 0.9rem;
}

</style>

<section class="footer">
  <div class="container py-5">
    <footer class="footer-container">
      <div class="row">
        <!-- Sección del Logo y Nombre de la Empresa -->
        <div class="col-md-4 d-flex align-items-center mb-3 mb-md-0">
          <img src="{{ landing.footer_icon.url }}" width="50" class="me-2">
          <div>
            
            <small class="text-muted"> &copy; {{ current_year }} {{ landing.footer_text }}</small>
          </div>
        </div>
        
        <!-- Sección de Navegación -->
        <div class="col-md-4">
          <ul class="nav justify-content-center">
            <li class="nav-item"><a href="/front/productos/" class="nav-link px-2 text-muted">Productos</a></li>
            <li class="nav-item"><a href="/front/carrito/" class="nav-link px-2 text-muted">Carrito</a></li>
            <li class="nav-item"><a href="#about-us" class="nav-link px-2 text-muted">Sobre Nosotros</a></li>
          </ul>
        </div>

        <!-- Texto Promocional -->
        <div class="col-md-4 text-center text-md-end">
          <small class="text-muted"> &copy; {{ current_year }} <a href="https://pantutienda.com/">pantutienda.com</a></small>
        </div>
      </div>
    </footer>
  </div>
</section>
