<style>
    .categories {
        padding: 3rem 0;
    }
    .category-item {
        background: white;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin-bottom: 1rem;
        overflow: hidden;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .category-item:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }
    .category-item img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .category-item h3 {
        padding: 1rem;
        margin: 0;
        font-size: 1.2rem;
        text-align: center;
        color: black; /* Texto en negro */
        text-decoration: none; /* Sin subrayado */
    }

    .category-item a {
        text-decoration: none; /* Evita que el enlace esté subrayado */
        color: inherit; /* Hereda el color del texto */
    }
    </style>

    {% load static %}
    
    <section class="categories">
        <div class="container">
            <div class="row">
                {% for categoria in categorias %}
                    <div class="col-6 col-md-3">
                        <div class="category-item">
                            <a href="{% url 'productos' %}?categoria={{ categoria.nombre }}">
                                <div class="category-inner">
                                    <!-- Front Side -->
                                    <div class="category-front">
                                        <img src="{% if categoria.imagen %}{{ categoria.imagen.url }}{% else %}{% static 'img/default.png' %}{% endif %}" alt="{{ categoria.imagen }}">
                                        <h3>{{ categoria }}</h3>
                                    </div>

                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    