<style>
    .hero {
        background: url('{{ landing.hero_background_image.url }}') no-repeat center center/cover;
        color: white;
        padding: 4rem 0;
        text-align: center;
        transition: background 0.3s ease;
    }
    .hero h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
        opacity: 0;
        transform: translateY(20px);
        animation: fadeInUp 0.5s ease forwards;
    }
    .hero p {
        font-size: 1.2rem;
        opacity: 0;
        transform: translateY(20px);
        animation: fadeInUp 0.5s ease 0.3s forwards;
        padding: 30px;
    }
    .container-text-hero {
        background-color: rgba(1,1,1,0.4);
        margin: 30px;
    }

</style>

<section class="hero" style="background-image: url({{ landing.hero_background_image.url }});">
    <div class="container-text-hero">
        <h1>{{ landing.hero_title }}</h1>
        <p>{{ landing.hero_description }}</p>
    </div>
</section>

