{% extends "admin/change_list.html" %}

{% block content %}
  <div class="cards-container" style="display: flex; gap: 20px; margin-bottom: 20px;">
      <div class="card" style="background-color: #f8f9fa; padding: 20px; border-radius: 8px; width: 200px; text-align: center;">
          <h4>{{ etiqueta_1 }}</h4>
          <p style="font-size: 24px;">{{ val_etiqueta_1 }}</p>
      </div>
      <div class="card" style="background-color: #f8f9fa; padding: 20px; border-radius: 8px; width: 200px; text-align: center;">
          <h4>{{ etiqueta_2 }}</h4>
          <p style="font-size: 24px;">{{ val_etiqueta_2 }}</p>
      </div>
      <div class="card" style="background-color: #f8f9fa; padding: 20px; border-radius: 8px; width: 200px; text-align: center;">
          <h4>{{ etiqueta_3 }}</h4>
          <p style="font-size: 24px;">{{ val_etiqueta_3 }}</p>
      </div>
      <div class="card" style="background-color: #f8f9fa; padding: 20px; border-radius: 8px; width: 200px; text-align: center;">
          <h4>{{ etiqueta_4 }}</h4>
          <p style="font-size: 24px;">{{ val_etiqueta_4 }}</p>
      </div>
  </div>
  {{ block.super }}
  
{% endblock %}
