{% extends "base.html" %}
{% block title %}Productos{% endblock %}
{% load static %}

{% block extra_head %}
<style>

    .product-card {
        width: 200px; /* Ancho mínimo para cada tarjeta de producto */
        margin-right: 1rem; /* Espacio entre las tarjetas */
        flex: 0 0 auto; /* Para que no se expandan */
        border: 1px solid #ddd; /* Opcional: borde para las tarjetas */
        border-radius: 8px; /* Opcional: bordes redondeados */
        text-align: center; /* Centramos el texto */
        background-color: #fff; /* Color de fondo */
        padding: 10px; /* Espaciado interno de las tarjetas */
        
    }
    .product-group {
        display: flex; /* Hacemos que los productos se alineen en fila */
        overflow-x: auto; /* Habilitamos el scroll horizontal */
        padding: 10px 0; /* Espaciado interno para la sección */
        flex-wrap: nowrap; /* Asegura que los productos no se envuelvan */
        flex-direction: column;
        max-height: 300px;
        align-content: flex-start;
    }
    .product-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }

    .category-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }

    .product-img {
        width: 100%; /* La imagen ocupa el 100% del contenedor */
        height: auto; /* Mantener la proporción de la imagen */
        border-radius: 4px; /* Bordes redondeados en las imágenes */
        height: 150px;
    }
    .product-title,
    .product-category {
        font-size: 1rem;
        margin-bottom: 5px;
    }
    .product-title {
        font-weight: bold;
        font-size: 0.9rem;
        margin-bottom: 5px;
        height: 1.5rem; /* Establece la altura fija aquí */
        line-height: 1.5rem; /* Alinea el texto verticalmente */
        overflow: hidden; /* Oculta el contenido adicional */
        white-space: nowrap; /* Evita que el texto se divida en varias líneas */
        text-overflow: ellipsis; /* Añade "..." si el texto es demasiado largo */
    }

    .product-category,
    .product-price {
        color: #28a745;
    }
    .product-price {
        font-size: 0.9rem;
    }

    /* Updated and new styles for better responsiveness */
    .product-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 15px;
        padding: 15px;
    }

    
    .product-card {
        min-width: 150px; /* Ancho mínimo para cada tarjeta de producto */
        margin-right: 1rem; /* Espacio entre las tarjetas */
        border: 1px solid #ddd; /* Opcional: borde para las tarjetas */
        border-radius: 8px; /* Opcional: bordes redondeados */
        text-align: center; /* Centramos el texto */
        background-color: #fff; /* Color de fondo */
        padding: 10px; /* Espaciado interno de las tarjetas */
    }


    .product-info {
        padding: 10px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .product-price {
        margin-top: auto;
    }

    /* Modal styles */
    .modal {
        display: none;
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.6);
        justify-content: center;
        align-items: center;
        z-index: 1050;
    }
    .modal.show {
        display: flex;
    }
    .modal-content {
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 90%;
        max-width: 400px;
        animation: slideIn 0.3s ease-out;
        align-items: center;
    }
    @keyframes slideIn {
        from {
            opacity: 0;
            transform: translateY(-20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    .close {
        background: none;
        border: none;
        font-size: 24px;
        font-weight: bold;
        cursor: pointer;
        color: #aaa;
        align-self: end;
    }
    .close:hover {
        color: #000;
    }
    .quantity-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-bottom: 10px;
    }
    .quantity-btn {
        background-color:#007bff ;
        color: white;
        border: none;
        padding: 8px;
        width: 40px;
        height: 40px;
        font-size: 18px;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    .quantity-btn:hover {
        background-color: #218838;
    }
    .quantity-input {
        width: 80px;
        text-align: center;
        border: 1px solid #ddd;
        border-radius: 10px;
        font-size: 18px;
    }
    .total-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
        font-size: 24px;
        font-weight: bold;
        color: #28a745;
    }
    .btn-submit {
        background-color: #28a745;
        border: none;
        padding: 10px;
        font-size: 18px;
        color: white;
        border-radius: 10px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        transition: background-color 0.3s;
    }
    .btn-submit:hover {
        background-color: #0056b3;
    }
    .cart-container {
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .cart-title {
        color: #1DA1F2;
        margin-bottom: 1.5rem;
    }
    .cart-table {
        border-collapse: separate;
        border-spacing: 0 15px;
    }
    .cart-table thead th {
        border-top: none;
        border-bottom: 2px solid #1DA1F2;
        color: #14171A;
    }
    .cart-table tbody tr {
        background-color: #f8f9fa;
        transition: all 0.3s ease;
    }
    .cart-table tbody tr:hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    .cart-table td {
        vertical-align: middle;
    }

    .category-card{
        cursor: pointer;
    }

    .category-title {
        overflow: hidden;            /* Oculta el texto que no cabe */
        white-space: nowrap;         /* Evita el salto de línea */
        text-overflow: ellipsis;     /* Agrega puntos suspensivos (...) */
        max-width: 100%;             /* Asegúrate de que el ancho sea adecuado */
        display: inline-block;        /* Necesario para que el max-width funcione */
    }


    /* Ajustar estilos en dispositivos móviles */
    @media (max-width: 768px) {
        /* Oculta los elementos decorativos en móviles */
        .cart-container {
            padding: 15px 0px;
            margin: 0;
            box-shadow: none;
        }

        .product-container {
            gap: 5px; /* Reducir el espacio entre productos */
        }

        .product-card {
            border-radius: 0;
            box-shadow: none;
        }
    }

    .category-container {
        display: flex;
        overflow-x: auto; /* Habilita el desplazamiento horizontal */
        white-space: nowrap; /* Evita el salto de línea */
        gap: 10px; /* Espacio entre las categorías */
    }

    /* Elimina esta sección para mostrar la barra de desplazamiento */
    .category-container::-webkit-scrollbar {
        display: block; /* Deja la barra de desplazamiento visible */
    }

    #resetFiltersBtn {
        display: none; /* Ocultamos el botón por defecto */
    }


</style>
{% endblock %}

{% block content %}
<div class="container cart-container">
    
        <!-- Búsqueda -->
        <div class="row w-100 align-items-center">
            <div class="col-8 col-md-10">
                <div class="input-group w-md-50">
                    <input type="text" id="searchInput" class="form-control" placeholder="Buscar producto...">
                    <span class="input-group-text bg-white border-left-0">
                        <i class="fa fa-search text-muted"></i>
                    </span>
                </div>
            </div>
            <div class="col-4 col-md-2 d-flex justify-content-end p-0">
                <button type="button" class="btn btn-outline-danger"  id="resetFiltersBtn"> <i class="fa fa-times"></i> Filtros</button>
            </div>
        </div>
        
        

    <hr>
    <div id="productContainer">
            <!-- Categorías -->

        <div class="container">
            <div class="category-container"  id="categoryContainer"> <!-- Asegúrate de que el ID esté aquí -->
                <!-- Las categorías se renderizarán aquí mediante JavaScript -->
            </div>
            
        </div>
        
        <hr>
            
        </div>

        <!-- Productos -->
        
        <div class="product-container" id="productContainer">
            <!-- Los productos se renderizarán aquí mediante JavaScript -->
        </div>

        <!-- Modal -->
        <div id="productModal" class="modal">
            <div class="modal-content">
                <button id="closeBtn" class="close">&times;</button>
                <img id="modalImage" src="" class="img-fluid mb-3" style="max-width: 100px;" alt="Producto">
                <h2 id="modalTitle" style="font-size: 1.5rem;"></h2>

                <form method="POST" action="{% url 'agregar_al_carrito' %}">
                    {% csrf_token %}
                    <input type="hidden" name="product_precio_id" id="productPrecioId">
                    <input type="hidden" name="id" id="productId">
                    
                    <div class="mb-3">
                        <label for="priceSelect" class="form-label">Selecciona la presentación:</label>
                        <select id="priceSelect" class="form-select"></select>
                    </div>
                
                    <div class="quantity-container mb-3">
                        <button type="button" id="decrease" class="quantity-btn">
                            <i class="fas fa-minus"></i>
                        </button>
                        <input type="number" name="quantity" id="quantityInput" value="1" min="1" class="quantity-input">
                        <button type="button" id="increase" class="quantity-btn">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                
                    <div class="total-container">
                        <span id="totalAmount">$0.00</span>
                    </div>
                
                    {% if es_cliente %}
                        {% if cliente_habilitado %}
                        <button type="submit" class="btn-submit">
                            <i class="fas fa-cart-plus"></i> Agregar al carrito
                        </button>
                        {% else %}
                        <p class="text-warning text-center mt-3">
                            <i class="fas fa-exclamation-circle"></i> Cuenta Suspendida
                        </p>
                        {% endif %}
                    {% else %}
                        <p class="text-warning text-center mt-3">
                            <i class="fas fa-exclamation-circle"></i> Necesitas una cuenta verificada para agregar productos al carrito.
                        </p>
                    {% endif %}
                </form>
                
            </div>
        </div>
    </div>
</div>

<!-- Incluimos los datos de los productos precio en una variable JavaScript -->
<script type="text/javascript">
    var productosPrecioData = {{ productos_precio_json }};
    var categoriasData = {{ categorias_json }};
    var categoriasOrdenadas = {{ categorias_ordenadas_json }};

</script>

{% endblock %}

{% block extra_scripts %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const productContainer = document.getElementById('productContainer');
        const modal = document.getElementById('productModal');
        const closeBtn = document.getElementById('closeBtn');
        const modalImage = document.getElementById('modalImage');
        const modalTitle = document.getElementById('modalTitle');
        const productPrecioIdInput = document.getElementById('productPrecioId');
        const priceSelect = document.getElementById('priceSelect');
        const quantityInput = document.getElementById('quantityInput');
        const increaseBtn = document.getElementById('increase');
        const decreaseBtn = document.getElementById('decrease');
        const totalAmount = document.getElementById('totalAmount');

        // Construimos un mapa de productos por ID de producto
        const productsMap = {};

        // Organizamos los datos
        productosPrecioData.forEach(pp => {
            const productId = pp.producto_id;
            if (!productsMap[productId]) {
                productsMap[productId] = {
                    id: productId,
                    nombre: pp.producto_nombre,
                    imagen: pp.producto_imagen,
                    categoria: pp.producto_categoria || "Otros productos",
                    precios: []
                };
            }
            productsMap[productId].precios.push(pp);
        });

        // Convertimos el mapa a una lista
        const productsList = Object.values(productsMap);

        // Agrupar productos por categoría
        const productsByCategory = {};
        productsList.forEach(product => {
            const categoryName = product.categoria;
            if (!productsByCategory[categoryName]) {
                productsByCategory[categoryName] = [];
            }
            productsByCategory[categoryName].push(product);
        });

        

        // Renderizamos los productos agrupados por categoría en el orden definido
        categoriasOrdenadas.forEach(c=> {
            
            let categoryId = c.category
            let categoryNombre = c.category__nombre
            
            const category = categoriasData.find(c => c.id === categoryId);
            const products = productsByCategory[category.nombre] || []; // Obtener productos de la categoría
    
            // Verificamos si la categoría tiene productos antes de renderizarla
            if (products.length === 0) return; // Si no hay productos, omite esta categoría
            
            const categoryCard = document.createElement('div');
            categoryCard.className = 'mb-4';
            categoryCard.id = `categoria-${categoryNombre}`;
            categoryCard.innerHTML = `<h3>${category.nombre}</h3>`;
    
            const productGroup = document.createElement('div');
            productGroup.className = 'product-group d-flex flex-wrap';
    
            products.forEach(product => {
                const card = document.createElement('div');
                card.className = 'product-card mb-0';
                card.dataset.id = product.id;
    
                const imgSrc = product.imagen || '{% static "img/default.png" %}';
    
                card.innerHTML = `
                    <img src="${imgSrc}" class="product-img p-2" alt="${product.nombre}">
                    <div class="product-info">
                        <h5 class="product-title">${product.nombre}</h5>
                        <p class="product-price">Desde: ${formatCurrency(product.precios[0].precio_unitario.toFixed(2))}</p>
                    </div>
                `;
                productGroup.appendChild(card);
            });

            categoryCard.appendChild(productGroup);
            productContainer.appendChild(categoryCard);
           
            if (productGroup.hasChildNodes()) {
                categoryCard.innerHTML += `<p class="no-products-message" id="no-products-message-${categoryNombre}" style="display: none;">No hay productos en esta categoría.</p>`;
            } else {
                categoryCard.innerHTML += `<p class="no-products-message" id="no-products-message-${categoryNombre}" style="display: block;">No hay productos en esta categoría.</p>`
            }



        });
        
        const categoryContainer = document.getElementById('categoryContainer');

        // Renderizamos las categorías en el contenedor
        categoriasData.forEach(categoria => {
            const card = document.createElement('div');
            card.className = 'col-4 col-md-2 mb-3 p-1 '; // Clase de columna

            card.innerHTML = `
                <div class="category-card h-100 text-center border rounded shadow-sm d-flex flex-column justify-content-between p-3 pt-2  pb-0 pe-0" data-categoria="${categoria.nombre}">
                    <p class="category-title text-start align-self-start"> <strong> ${categoria.nombre} </strong></p>
                    <img src="${categoria.imagen || '{% static "img/default.png" %}'}" class="category-img img-fluid mt-auto  align-self-end" alt="${categoria.nombre}">
                </div>
            `;
            categoryContainer.appendChild(card);
        });

        function formatCurrency(value) {
            return new Intl.NumberFormat('es-AR', {
                style: 'currency',
                currency: 'ARS',
                minimumFractionDigits: 2,
            }).format(value);
        }

        function updateTotal() {
            
            const quantity = parseInt(quantityInput.value) || 1;
            quantityInput.value = quantity;
            const selectedOption = priceSelect.options[priceSelect.selectedIndex];
            const price = parseFloat(selectedOption.dataset.price);
            totalAmount.textContent = formatCurrency(quantity * price);
            productPrecioIdInput.value = selectedOption.value;
        }

        increaseBtn.onclick = () => {
            quantityInput.value = parseInt(quantityInput.value) + 1;
            updateTotal();
        };

        decreaseBtn.onclick = () => {
            if (quantityInput.value > 1) {
                quantityInput.value = parseInt(quantityInput.value) - 1;
                updateTotal();
            }
        };

        closeBtn.onclick = () => modal.classList.remove('show');

        window.onclick = (e) => {
            if (e.target === modal) {
                modal.classList.remove('show');
            }
        };

        productContainer.addEventListener('click', (e) => {
            const card = e.target.closest('.product-card');
            if (card) {
                const productId = card.dataset.id;
                const product = productsMap[productId];
                if (product) {
                    showModal(product);
                }
            }
        });
        
        function showModal(product) {
            modalImage.src = product.imagen || '{% static "img/default.png" %}';
            modalTitle.textContent = product.nombre;
            document.getElementById('productId').value = product.id; 

            priceSelect.innerHTML = '';

            product.precios.forEach(function(pp) {
                const option = document.createElement('option');
                option.value = pp.id;  // ID de ProductoPrecio
                option.dataset.price = pp.precio_unitario;  // Precio unitario
                // Incluimos la descripción y otros campos necesarios
                option.textContent = `${formatCurrency(pp.precio_unitario)} (x ${pp.cantidad} ${pp.unidad_de_medida.slice(0, 3)})`;
                priceSelect.appendChild(option);
            });

            updateTotal();
            modal.classList.add('show');
        }

        priceSelect.addEventListener('change', updateTotal);
        quantityInput.addEventListener('input', updateTotal);

        //Filtrar productos

        const searchInput = document.getElementById('searchInput');
        const categorySelect = document.getElementById('categorySelect');
        
        // Evento para resetear filtros al hacer clic en el campo de búsqueda
        searchInput.addEventListener('focus', () => {
            // Limpiar los filtros
            searchInput.value = '';     // Vaciar el cuadro de búsqueda
            selectedCategoryId = null;  // Eliminar categoría seleccionada

            // Llamar a la función de filtrado para mostrar todos los productos
            filterProducts();
        });
    
        searchInput.addEventListener('input', filterProducts);

        //Filtrar por categoría

        categoryContainer.addEventListener('click', (event) => {
            resetFilters()
            const target = event.target.closest('.category-card');
            if (target) {
                selectedCategoryId = target.getAttribute('data-categoria'); // Asigna la categoría seleccionada
                filterProducts(); // Llama a la función de filtrado
            }
        });

        const params = new URLSearchParams(window.location.search);
        let selectedCategoryId = params.get('categoria') || null;
        
        if (selectedCategoryId) {
            filterProducts()
        }


        function filterProducts() {
            const searchQuery = searchInput.value.toLowerCase();
            const categoryDivs = document.querySelectorAll('[id^="categoria-"]');
            let isFiltered = false; // Variable para controlar si hay un filtro activo

            // Ocultamos todos los contenedores de categorías al principio
            categoryDivs.forEach(categoryDiv => {
                categoryDiv.style.display = 'none';
            });

            // Recorrer cada categoría y sus productos
            categoryDivs.forEach(categoryDiv => {
                const categoryName = categoryDiv.id.replace('categoria-', '');
                let hasVisibleProducts = false;

                const productCards = categoryDiv.querySelectorAll('.product-card');
                productCards.forEach(card => {
                    const productId = card.dataset.id;
                    const product = productsList.find(p => p.id == productId);

                    const matchesName = product.nombre.toLowerCase().includes(searchQuery);
                    const matchesCategory = selectedCategoryId ? product.categoria === selectedCategoryId : true;

                    if (matchesName && matchesCategory) {
                        card.style.display = 'block';
                        hasVisibleProducts = true;
                    } else {
                        card.style.display = 'none';
                    }
                });

                if (hasVisibleProducts) {
                    categoryDiv.style.display = 'block';
                }

                // Si hay algún filtro aplicado, establecemos isFiltered en true
                if (searchQuery || selectedCategoryId) {
                    isFiltered = true;
                }
            });

            // Mostrar el botón de eliminar filtros solo si hay un filtro activo
            resetFiltersBtn.style.display = isFiltered ? 'inline-block' : 'none';
        }
                
        //Resetear Filtros
        function resetFilters() {
            // Resetear los filtros
            searchInput.value = '';            // Vaciar el cuadro de búsqueda
            selectedCategoryId = null;         // Eliminar categoría seleccionada
        
            // Llamar a la función de filtrado para mostrar todos los productos
            filterProducts();
        }
        

        const resetFiltersBtn = document.getElementById('resetFiltersBtn');
        resetFiltersBtn.addEventListener('click', () => {
            resetFilters()
        });
    });
</script>
{% endblock %}
